<%- include('partials/header.ejs');-%>

 <!-- Page Header Start -->
 <div class="container py-5 px-2 bg-primary">
    <div class="row py-5 px-4">
        <div class="col-sm-6 text-center text-md-left">
            <h1 class="mb-3 mb-md-0 text-white text-uppercase font-weight-bold">My Blog</h1>
        </div>
        <div class="col-sm-6 text-center text-md-right">
            <div class="d-inline-flex pt-2">
                <h4 class="m-0 text-white"><a class="text-white" href="/">Home</a></h4>
                <h4 class="m-0 text-white px-2">/</h4>
                <h4 class="m-0 text-white">My Blog</h4>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
    
    
    <!-- Blog List Start -->
    <div class="container bg-white pt-5">

        <% for(let book of bookslist){%>
        <div class="row blog-item px-3 pb-5">
            <div class="col-md-5">
                <img class="img-fluid mb-4 mb-md-0" src="<%= book.poster%>" alt="Image">
            </div>
            <div class="col-md-7">
                <h3 class="mt-md-4 px-md-3 mb-2 py-2 bg-white font-weight-bold"><%= book.title%></h3>
                <div class="d-flex mb-3">
                    <small class="mr-2 text-muted">Date: <%= book.review_date %></small>
                    <small class="mr-2 text-muted">Genre: <%= book.genre %></small>
                    <small class="mr-2 text-muted">Rating: <%= book.rating %></small>
                </div>
                <p> <%= book.review_text %> </p>
                <a class="btn btn-link p-0" href="/single/<%= book.book_id%>">Read More <i class="fa fa-angle-right"></i></a>
                <form class="btn btn-link p-0" action="/edit" method="post">
                    <input type="hidden" name="id" value="<%=book.book_id%>"> <!-- Assuming article ID is 1 -->
                    <button class="btn btn-lg btn-block btn-primary mt-auto" type="submit">Edit</button>
                </form>
                <form class="btn btn-link p-0" action="/delete" method="post">
                    <input type="hidden" name="deleteItemId" value="<%= book.book_id %>">
                    <button class="btn btn-lg btn-block btn-primary mt-auto" type="submit">Delete</button>
                </form>
            </div>
        </div>
        <% }%>
    </div>
    <!-- Blog List End -->


<%- include('partials/footer.ejs'); -%>